{% extends "base.html" %}
{% block style %}
.marquee {
    width: 100%;
    line-height: 25px;
    color: purple;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    margin: 0;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

{% endblock %}
{% block content %}
<div id="app">

  <div class="alert alert-info" role="alert" text-align="center">
      <div class="marquee">
          <p>Witaj w swojej bibliotece {{email}}</p>
      </div>
  </div>

  <v-app>
      <v-main>

            <template>
              <v-card>
                <v-card-title>
                    <v-text-field

                      v-model="mySearch"
                      append-icon="mdi-magnify"
                      label="Szukaj"
                      single-line
                      hide-details
                    ></v-text-field>
                </v-card-title>
                <v-data-table
                  v-model="selected2"
                  :headers="headers"
                  :items="userBooks"
                  item-key="url"
                  :items-per-page="5"
                  :footer-props="{
                    'items-per-page-options': [5,10,20,30],
                    'items-per-page-text': 'Książki na stronę:'
                  }"
                  :search="mySearch"
                  :single-select="singleSelect2"
                  class="elevation-1"
                  show-select
                >
                <template v-slot:top>
                  <v-switch
                    v-model="singleSelect2"
                    label="Zaznacz, jeśli chcesz usunąć tylko jedną książkę naraz"
                    class="pa-3"
                  ></v-switch>
                </template>
                <template #item.url="{ value }">
                  <a target="_blank" :href="value">
                    [[ value ]]
                  </a>
                </template>

              </v-data-table>

            </v-card>


            <v-btn  v-if="selected2.length > 0" @click="removeFromLibrary"  rounded block class="m-3" color="error" > Usuń wybrane książki z biblioteki </v-btn>


        </template>

      </v-main>
    </v-app>
</div>
  {% endblock %}

{% block scripts %}
<script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ['[[', ']]'],
      data () {
        return {
          dialog: false,

          userBooks: [],
          search: "",
          mySearch: "",
          singleSelect: false,
          singleSelect2: false,
          selected: [],
          selected2: [],
          books:[],
          loadingBooks:false,
            headers: [
          {
            text: 'Rodzaj literacki',
            align: 'start',
            sortable: true,
            value: 'kind',
          },
          { text: 'Tytuł', value: 'title' },
          { text: 'Autor', value: 'author' },
          { text: 'URL', value: 'url' },
        ],

        }
      } ,
        mounted:function(){
          this.fetchBooks(),
          this.getBooksFromDb()
        },
        methods:{
        fetchBooks(){
        url = "https://wolnelektury.pl/api/books/"
        fetch(url)
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
        })
        .then((data) => this.books = data)
        .finally(this.loadingBooks=false)
        },
        addToLibrary(){
          for (let i = 0; i < this.selected.length ; i++) {
            if (!this.userBooks.includes(this.selected[i])){
              this.userBooks.push(this.selected[i])
            }
          }

        },
        removeFromLibrary(){
          for (let i = 0; i < this.selected2.length ; i++) {
            if (this.userBooks.includes(this.selected2[i])){
              this.removeBook(this.selected2[i]['id'])
              this.userBooks.splice(this.selected2[i],1)
            }
          }
          this.selected2= [];


          // sleep time expects milliseconds
          function sleep (time) {
            return new Promise((resolve) => setTimeout(resolve, time));
          }

          // Usage!
          sleep(1000).then(() => {
              // Do something after the sleep!
              this.getBooksFromDb()
          });

        },
        removeBook(book_id){
        url = `/removeBook/${book_id}`
         
        fetch(url)
        .then((response) => {
          if (response.ok) {
            return response;
          }
        })
        },


    
        getBooksFromDb(){
        url = "/fetchUserBooks"
        fetch(url)
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
        })
        .then((data) => this.userBooks = data)
        },
        






      }
    })
</script>
{% endblock %}