{% extends "base.html" %}

{% block content %}
<div id="app">
{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
  <v-app>
      <v-main>

        <template>
          <v-card>
            <v-card-title>
                <v-text-field

                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Szukaj"
                  single-line
                  hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
              v-model="selected"
              :headers="headers"
              :items="books"
              item-key="url"
              :items-per-page="5"
              :footer-props="{
                'items-per-page-options': [5,10,20,30],
                'items-per-page-text': 'Książki na stronę:',
              }"
              :search="search"
              :single-select="singleSelect"
              class="elevation-1"
              show-select
            >
            <template v-slot:top>
              <v-switch
                v-model="singleSelect"
                label="Zaznacz, jeśli chcesz dodać tylko jedną książkę naraz"
                class="pa-3"
              ></v-switch>
            </template>
            <template #item.url="{ value }">
              <a target="_blank" :href="value">
                [[ value ]]
              </a>
            </template>

          </v-data-table>

        </v-card>

    </template>
    {% if user_id %}
      <v-btn v-if="selected.length > 0"  @click="addToLibrary"  rounded block class="m-3" color="success" > Dodaj wybrane książki do biblioteki </v-btn>
    {% endif %}   
  </v-main>
    </v-app>
</div>
  {% endblock %}

{% block scripts %}
<script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ['[[', ']]'],
      data () {
        return {
          dialog: false,



          userBooks: [],
          search: "",
          singleSelect: false,
          selected: [],
          books:[],
          loadingBooks:false,
            headers: [
              {
                text: 'Rodzaj literacki',
                align: 'start',
                sortable: true,
                value: 'kind',
              },
              { text: 'Tytuł', value: 'title' },
              { text: 'Autor', value: 'author' },
              { text: 'URL', value: 'url' },
            ],
        }
      } ,
        mounted:function(){
          this.fetchBooks()
        },
        methods:{
        fetchBooks(){
        url = "/readBooks"
        fetch(url)
        .then((response) => {
          if (response.ok) {
            return response.json();
          }else{
            console.log("Przpau")
          }
        })
        .then((data) => this.books = data)
        },
        addToLibrary(){
          console.log(this.selected)
          for (let i = 0; i < this.selected.length ; i++) {
            if (this.userBooks.includes(this.selected[i])){

            }else{
              this.userBooks.push(this.selected[i])
              this.addBook(this.selected[i]['id'])
            }
          }
          console.log(this.userBooks);
          alert("Książki dodane do biblioteki!")
          this.selected= [];
        },
        addBook(book_id){
        console.log(book_id)
        url = `/addBook/${book_id}`
         
        fetch(url)
        .then((response) => {
          if (response.ok) {
            return response;
          }else{
            console.log("Przpau")
          }
        })

        },
      }
    })
</script>
{% endblock %}