{% extends "base.html" %}

{% block content %}
<div id="app">
{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
  <v-app>
      <v-main>

        <template  v-if="books.length > 0">
          <v-card>
            <v-card-title>
                <v-text-field

                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
              v-model="selected"
              :headers="headers"
              :items="books"
              item-key="url"
              :items-per-page="5"
              :search="search"
              :single-select="singleSelect"
              class="elevation-1"
              show-select
            >
            <template v-slot:top>
              <v-switch
                v-model="singleSelect"
                label="Check if you want to add one book at once"
                class="pa-3"
              ></v-switch>
            </template>
            <template #item.url="{ value }">
              <a target="_blank" :href="value">
                [[ value ]]
              </a>
            </template>

          </v-data-table>

        </v-card>
    </template>

    <v-btn v-if="selected.length > 0"  @click="addToLibrary"  rounded block class="m-3" color="success" > Add choosen books to library </v-btn>
      </v-main>
    </v-app>
</div>
  {% endblock %}

{% block scripts %}
<script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ['[[', ']]'],
      data () {
        return {
          dialog: false,

          userBooks: [],
          search: "",
          mySearch: "",
          singleSelect: false,
          singleSelect2: false,
          selected: [],
          selected2: [],
          books:[],
          
            headers: [
          {
            text: 'Rodzaj literacki',
            align: 'start',
            sortable: true,
            value: 'kind',
          },
          { text: 'Tytuł', value: 'title' },
          { text: 'Autor', value: 'author' },
          { text: 'URL', value: 'url' },
        ],

        }
      } ,
        mounted:function(){
          this.fetchBooks()
        },
        methods:{
        fetchBooks(){
        url = "https://wolnelektury.pl/api/books/"
        fetch(url)
        .then((response) => {
          console.log(response.ok)
          if (response.ok) {
            return response.json();
          }else{
            console.log( "Przpau")
          }
        })
        .then((data) => this.books = data)
        },
        addToLibrary(){
          console.log(this.selected)
          for (let i = 0; i < this.selected.length ; i++) {
            if (this.userBooks.includes(this.selected[i])){

            }else{
              this.userBooks.push(this.selected[i])
              this.addBook(this.selected[i]['slug'])
            }
          }
          console.log(this.userBooks)

          this.readUserBooks()

        },
        removeFromLibrary(){
          for (let i = 0; i < this.selected2.length ; i++) {
            if (this.userBooks.includes(this.selected2[i])){
              this.userBooks.splice(this.selected2[i],1)
            }else{
            }
          }
          console.log(this.userBooks)
          this.selected2= [];
        },
        addBook(bookid){
          url = `/addBook/${bookid}`
          fetch(url)
          .then((response) => {
            console.log(response.ok)
            if (response.ok) {
              return response.json();
            }else{
              console.log( "Przpau")
            }
          })
        },
        readUserBooks(){
          url = "/readUserBook"
          fetch(url)
          .then((response) => {
            console.log(response.ok)
            if (response.ok) {
              return response.json();
            }else{
              console.log( "Przpau")
            }
          })
          
          }
      }
    })
</script>
{% endblock %}