{% extends "base.html" %}

{% block content %}
<div id="app">
    <!-- <li v-for="book in books" style="border:2px dotted black; margin:3px;">
        [[ book.title ]]
      </li> -->
      autor jako lower kebab case np. adam-mickiewicz
    <v-app>
      <v-main>

        <input v-model="userInput" placeholder="wpisz autora" style="border:5px solid blue; margin:20px; text-align: center;">

        <button  @click="fetchData" style="border:5px solid blue; margin:20px; text-align: center;"> Szukaj utworów [[ userInput ]]</button>
        <v-data-table
            v-if="books.length > 0"
            :headers="headers"
            :items="books"
            :items-per-page="5"
            class="elevation-1"
        ></v-data-table>
      </v-main>
    </v-app>
  </div>
{% endblock %}
   
{% block scripts %}  
<script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ['[[', ']]'],
      data () {
        return {
          userInput: "",
            headers: [
          {
            text: 'Rodzaj literacki',
            align: 'start',
            sortable: false,
            value: 'kind',
          },
          { text: 'Tytuł', value: 'title' },
          { text: 'Autor', value: 'author' },
        ],
            items:[{ message: 'Foo' }, { message: 'Bar' }],
            books:[],
        }
      },
      methods:{
        fetchData(){
        url = "https://wolnelektury.pl/api/authors/" + this.userInput + "/kinds/liryka/parent_books/"
        fetch(url)
        .then((response) => response.json())
        .then((data) => this.books = data)
        }
      }
      
    })
</script>
{% endblock %}