{% extends "base.html" %}

{% block content %}
<div id="app">
    <!-- <li v-for="book in books" style="border:2px dotted black; margin:3px;">
        [[ book.title ]]
      </li> -->
      <!-- autor jako lower kebab case np. adam-mickiewicz -->
      <br>
      
      <br>
    <v-app>
      <v-main>
        <!-- <button  @click="fetchAuthors" style="border:5px solid blue; margin:20px; text-align: center;">AUTORZY</button> -->
        <v-select
        :items="authorsID"
        v-model = "selectedAuthor"
        label="Wybierz autora z listy wszystkich autorów"
        outlined
        class="m4"
        ></v-select>
        
      <!-- 
        <v-select
        v-if="selectedAuthor"
        :items="kinds"
        v-model = "selectedKind"
        label="Wybierz rodzaj literatury jeżeli chesz zawęzić wyszukiwanie"
        outlined
        class="m4"
        >
      </v-select> -->

        <!-- <input v-model="userInput" placeholder="wpisz autora" style="border:5px solid blue; margin:20px; text-align: center;"> -->

        <v-btn  v-if="selectedAuthor" @click="fetchBooks" :loading="loadingBooks" rounded block > Szukaj książek [[ selectedAuthor ]] </v-btn>
        <template  v-if="books.length > 0">
            <v-card>
              <v-card-title>
                  <v-text-field
                  
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
              </v-card-title>
              <v-data-table
                 
                  :headers="headers"
                  :items="books"
                  :items-per-page="5"
                  :search="search"
                  class="elevation-1"
              >
              <template #item.url="{ value }">
                <a target="_blank" :href="value">
                  {{ value }}
                </a>
            </template>
    
            </v-data-table>
          </v-card>
      </template>
      </v-main>
    </v-app>
  </div>
{% endblock %}
   
{% block scripts %}  
<script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ['[[', ']]'],
      data () {
        return {
          search: "",
          userInput: "",
          loadingBooks:false,
            headers: [
          {
            text: 'Rodzaj literacki',
            align: 'start',
            sortable: false,
            value: 'kind',
          },
          { text: 'Tytuł', value: 'title' },
          { text: 'Autor', value: 'author' },
        ],
            books:[],
            authorsName:[],
            authorsID:[],
            selectedAuthor:"",
            kinds:[],
            selectedKind:""
        }
      },
      mounted:function(){
        this.fetchAuthors() //method1 will execute at pageload
        this.fetchKinds()
      },
      methods:{
        fetchBooks(){
        this.loadingBooks = true
        url = "https://wolnelektury.pl/api/authors/" + this.selectedAuthor + "/books/" 
        fetch(url)
        .then((response) => {
          console.log(response.ok)
          if (response.ok) {
            return response.json();
          }else{
            console.log( "Przpau")
          }
        })
       
        .then((data) => this.books = data)
        .finally(this.loadingBooks=false, console.log(this.books))
        },
        fetchAuthors(){
        url = "/authors"
        fetch(url)
        .then((response) => response.json())
        .then((data) => this.authorsName = data.map(({name})=>name, this.authorsID = data.map(({id})=>id)))
        },
        fetchKinds(){
        url = "/kinds"
        fetch(url)
        .then((response) => response.json())
        .then((data) => this.kinds = data.map(({id})=>id))
        },

      },
      
      
    })
</script>
{% endblock %}